@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body {
    display: block;
}

.pb-table {
    margin-left: auto;
    margin-right: auto;
    display: none; /* Hide all tables by default */
}
.pb-table.active {
    margin-left: auto;
    margin-right: auto;
    display: table; /* Show the active table */
}

.smallpadding{
    padding: 5px;
    margin: 0;
}

a, a:hover, a:visited{
    text-decoration: none;
    margin: 0;
}

.text-center{
    text-align: center;
}

input[type=file] {
    display: none;
}  

.login {
    margin: 0;
    height: 50px;
    background-color:  rgb(235, 235, 235);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #435664;
}
.login-nogap {
    margin: 0;
    background-color:  rgb(235, 235, 235);
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #435664;
}

.enterbtn{    
    background-color: white;
    text-decoration: none;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
    /* box-shadow: 1px 1px 2px black; */
}

.enterbtn:hover{
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    box-shadow: 0px 0px black;
    color: white;
    background-color: #199bff;
}


.arimo {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.bebas-neue {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.darktext{
    color: #435664;
}
.bluetext{
    color: #199bff;
}
.greytext{
    color: #97a4ae;
}
.whitetext{
    color:white;
}
.blacktext{
    color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.left, .right {
    margin:0;
    align-items: center; /* Vertically align items */
    gap: 15px; /* Adjust spacing between image and text as needed */
}
.left {
    display: flex;
    min-width: 900px;
}
.right {
    font-size: 25px;
    text-align: right;
}


#homelogo {
    height: 60px; /* Keep aspect ratio */
    width: auto; /* Adjust image size */
}
#title {
    padding-top: 8px;
    font-size: 60;
    margin: 0; /* Remove default margin */
    line-height: 1.0; /* Adjust line spacing */
}
.header{
    background-color: white;
    padding-bottom: 15px;
}

.menuH{
    margin-left: 5%;
    margin-right: 5%;
    border: 0px solid black;
    text-align: center;
}


.filesubmission, .filesubmission-long, .filesubmission-opp{
    display: block;
    width: 130px;
    background-color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
}
.filesubmission-selected, .filesubmission:not(:disabled):hover, .filesubmission:active, .filesubmission-long:hover{
    display: block;
    width: 130px;
    background-color: #199bff;
    color:white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
}
.filesubmission:disabled{
    border: 1px solid rgb(235, 235, 235);
    background-color: #97a4ae;
    color: rgb(235, 235, 235)
}
.filesubmission-long, .filesubmission-long:hover{
    width: 300px;
}
.filesubmission-opp:hover{
    display: block;
    width: 130px;
    background-color: darkred;
    color:white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #435664;
    box-shadow: 0px 0px b
}


.fileout{
display: block;
padding-top: 15px;
padding-bottom: 15px;
border: 0px;
box-shadow: 0px 0px black;
}

.filltable{
    display: block;
    max-width: 130px;
    max-height: 40px;
    background-color:  rgb(235, 235, 235);
    border: none;
    font-size: 12px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
}

.filltable-wide{
    display: block;
    width: 100%;
    max-height: 40px;
    background-color:  rgb(235, 235, 235);
    border: none;
    font-size: 12px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
}

.subtable{
    display: inline-block;
    max-width: 75px;
    max-height: 40px;
    background-color:  rgb(235, 235, 235);
    border: none;
    font-size: 12px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid #435664;
    box-shadow: 0px 0px black;
}


.pagetitle{
    margin: 10;
    text-align: center;
    font-size: 40px;
}

.letterbutton, .letterbutton-selected, .letterbutton-selected:hover, .letterbutton:hover{
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0;
    width: 40px;
    height: 40px;
    margin: 3px;
    border-radius: 6px;
    line-height: 1.15;
}

.letterbutton:hover, .letterbutton-selected, .letterbutton-selected:hover{
    color:white;
    background-color: #199bff;
}

.yearbtn, .yearbtn-selected, .yearbtn-selected:hover, .yearbtn:hover{
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    padding: 15px;
    margin: 3px;
    border-radius: 6px;
    line-height: 1.15;
}

.yearbtn:hover, .yearbtn-selected, .yearbtn-selected:hover{
    color:white;
    background-color: #199bff;
}

.yearbtn-small, .yearbtn-small-selected, .yearbtn-small-selected:hover, .yearbtn-small:hover{
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    padding: 15px;
    margin: 3px;
    border-radius: 6px;
    line-height: 1.15;
}

.yearbtn-small:hover, .yearbtn-small-selected, .yearbtn-small-selected:hover{
    color:white;
    background-color: #199bff;
}

.thinbtn, .thinbtn-selected, .thinbtn-selected:hover, .thinbtn:hover{
    border: 0px solid black;
    background-color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    width: 55px;
    padding: 10px;
    margin: 3px;
    border-radius: 6px;
    line-height: 1.15;
}
.activebtn, .thinbtn:hover, .thinbtn-selected, .thinbtn-selected:hover{
    color:white;
    background-color: #199bff;
}

.medsize{
    font-size: 25px;
}
.smallsize{
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.intextlink{
    color: inherit;
    font-weight: bold;
}

.dangertext{
    color: darkred;
}

.desc{
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.header img{
    height: 60px;
    width: auto;
}

.homebtn{    
    display: block;
    font-size: 65px;
    border-radius: 6px;
    padding: 20px;
    /* border: 1px solid #435664; */
    box-shadow: 0px 0px black;
    /* box-shadow: 1px 1px 2px black; */
}

.homebtn:hover{
    display: block;
    font-size: 65px;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px black;
    color: white;
    background-color: #199bff;
}

.selector-label{
    display: block;
    background-color: #435664;
    border-radius: 6px;
    padding: 8px;
}

.padded {
    display: block;
    padding: 12px;
}

.lowpad{
    display: block;
    padding: 3px;
}

.top-selector-label{
    margin-top: 0;
}

.selectorbtn{
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    padding: 10px;
    /* border: 1px solid #435664; */
    box-shadow: 0px 0px black;
}

.selectorbtn-selected, .selectorbtn-selected:hover, .selectorbtn:hover{
    display: inline-block;
    font-size: 18px;
    border-radius: 6px;
    padding: 10px;
    /* border: 1px solid #435664; */
    box-shadow: 0px 0px black;
    color: white;
    background-color: #199bff;
}

.buttons{
    height: fit-content;    
    position: absolute;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.resultspage{
    display: flex;
    text-align: center;
    margin-bottom: 0;
}

.searchresult{
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
}
.searchresult-nogap{
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}
.rankresult{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.rankresult, .rankresult td, .rankresult th{
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
    padding: 5px;
}
.odd{
    margin: 15px;
    background-color: rgb(235, 235, 235)
}

.searchresult-nogap{
    margin-left: auto;
    margin-right: auto;
}
.searchresult-nogap th, .searchresult-nogap td, .searchresult-nogap tr{
    padding: 5px;
}

.searchresult th, .searchresult td, .searchresult tr{
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.searchresult td{
    padding-top: 15px;
}

.toprow{
    color:white;
    font-weight: 400;
    margin: 15px;
    background-color: #435664;
}
.row-mid{
    border-left: 1px solid #435664;
    border-right: 1px solid #435664;
}
.row-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.row-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.options {width: 35%; padding-bottom: 10px; border: 0px solid black; margin: 5px; border-radius: 6px;}
.ranking {width: 65%; border: 0px solid black; margin: 5px; border-radius: 6px;}
.ui-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.fixedfooter {
    position: fixed;
    left: 0;
    bottom: 10;
    width: 100%;
  }

  .footer {
    padding-top: 65;
    margin-left: auto;
    margin-right: auto;
  }

/* adjust content for small screens */
@media (max-width: 1150px) {
    .letterbutton, .letterbutton-selected, .letterbutton:hover, .letterbutton-selected:hover{
        font-weight: 300;
    }
    .header{
        margin: 0;
        display: block;
        text-align: center;
    }
    .buttons, .ui-container{
        position: relative;
        display: block;
    }
    .homebtn{
        padding: 10px;
        font-size: 36px;
    }
    .homebtn:hover{
        padding: 10px;
        font-size: 36px;
    }
    .options{
        width: 100%;
    }
    .ranking{
        width: 100%;
    }
    .rankresult, .searchresult, .searchresult-nogap{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .searchresult{
        font-size: 20px;
    }
    .footer{
        padding-top: 35px;
    }
    .left {
        min-width: 400px;
    }
    .right{
        display: flex;
    }
    .left, .right{
        gap: 8px; /* Adjust spacing between image and text as needed */
        text-align: center;
        justify-content: center;
    }
    #title{
        font-size: 30px;
    }
    #homelogo {
        height: 45px; /* Keep aspect ratio */
        width: auto; /* Adjust image size */
    }
}
  
@media(max-height: 720px) {
    .buttons, .ui-container{
        position: relative;
        display: block;
    }
}
  